@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html,
body {
  padding: 10px;
  margin: 0;
  -webkit-text-size-adjust: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  overflow: hidden;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
